¶re_sajax_php¶

<!--
<script language="JavaScript1.2" type="text/javascript">
if (top.location == location) {
document.write('<FRAMESET COLS="100,*" FRAMEBORDER="0" BORDER=0 BORDER="0">');
document.write('<FRAME SRC="a.html" NAME="idx" SCROLLING=AUTO>');
document.write('<FRAME SRC="a2.html" NAME="main" SCROLLING=AUTO>');
document.write('</FRAMESET>');
document.close();
}
</script>
!-->

<!--no-mediawiki!-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr">
<head>
<!--/no-mediawiki!-->
<link rel="stylesheet" type="text/css" href="¶re_jsfile¶.htmltag.css" />
<!--no-mediawiki!-->
</head>
<!--/no-mediawiki!-->
<body onLoad="onloadPage()">

<script language="JavaScript1.3" type="text/javascript" >
  document.htmltagid = "htmltag"; 
  var i;
  i++;
</script>
<script language="JavaScript1.3" type="text/javascript" src="¶re_jsfile¶.htmltag.js"></script>
<script language="JavaScript1.3" type="text/javascript" src="¶re_jsfile¶.htmltag.win.js"></script>
<script language="JavaScript1.3" type="text/javascript" src="¶re_jsfile¶.htmltag.span.js"></script>
<script language="JavaScript1.3" type="text/javascript" src="¶re_jsfile¶.htmltag.xml.js"></script>
<!--script language="JavaScript1.3" type="text/javascript" src="¶re_jsfile¶.htmltag.ajax.js.php"></script> !-->
<script language="JavaScript1.3" type="text/javascript" src="¶re_jsfile¶.htmltag.path.js"></script>
<script language="JavaScript1.3" type="text/javascript" src="¶re_jsfile¶.htmltag.pathdata.js"></script>
<script language="JavaScript1.3" type="text/javascript" src="¶re_jsfile¶.htmltag.hash.js"></script>
<script language="JavaScript1.3" type="text/javascript" src="¶re_jsfile¶.htmltag.css.js"></script>
<pre>¶re_body¶</pre>¶re_idx¶¶re_struct¶
<script language="JavaScript1.3" type="text/javascript">
function onloadPage() {
top[document.htmltagid].hash.hashListener.init();
¶re_onload¶
top[document.htmltagid].path.gotolocation_onload();
if (top.idx) {
top.idx.p = top[document.htmltagid].path.pathdef;
if (top.idx.setidx) {
top.idx.setidx(top[document.htmltagid].path.pathdef,top.main.location);
}
}

}
</script>
<!--no-mediawiki!-->
</body>
</html>
<!--/no-mediawiki!-->


